.visitor-nav-box {
    display: flex;
    justify-content: space-between;

    .visitor-ul {
        display: flex;
        justify-content: flex-start;
        height: 36px;
        line-height: 36px;
        outline: none;
        color: #3C3C3C;
        background-color: #f5f5f5;

        li {
            padding: 0 8px;
            list-style: none;
        }

        li a {
            color: #3C3C3C;
        }

        li a:hover,
        .login span {
            color: #f40;
            cursor: pointer;
        }

        .cart:hover,
        .person-center:hover {
            cursor: not-allowed;
        }

        .cart span,
        .person-center span {
            color: #bcbcbc;
        }

        .shopping-cart-icon {
            margin-right: 4px;
            color: #bcbcbc
        }
    }
}