.visitor-nav-box {
    display: flex;
    justify-content: space-between;

    .visitor-ul {
        display: flex;
        justify-content: flex-start;
        color: #3C3C3C;
        height: 36px;
        line-height: 36px;
        background-color: #f5f5f5;
        outline: none;

        li {
            float: left;
            padding: 0 8px;
            list-style: none;
        }

        li a {
            text-decoration: none;
            color: #3C3C3C;
        }

        li a:hover,
        .login a {
            color: #f40;
        }

        .cart:hover,
        .person-center:hover {
            cursor: not-allowed;
        }

        .cart a,
        .person-center a {
            color: #bcbcbc;
        }

        .shopping-cart-icon {
            margin-right: 4px;
            color: #bcbcbc
        }
    }
}

.ant-modal-content {
    background-color: #FEF9E6;
    font-family: Microsoft Yahei
}

.ant-modal-header {
    background: #FEF9E6;
    border-bottom: 1px solid #FEF9E6;
}

.ant-modal-header .ant-modal-title {
    font-size: 18px;
}

.ant-modal-body {
    font-size: 14px;
}

.ant-modal-footer {
    border-top: 1px solid #FEF9E6;
}

.ant-modal-footer button {
    padding: 0 10px;
    height: 28px;
    width: 50px;
    font-size: 12px;
}

.ant-modal-footer .ant-btn-lg:hover {
    color: #f40;
    border-color: #f40;
}

.ant-modal-footer .ant-btn-primary:hover {
    color: #fff;
}