.login-form-btn {
    width: 100%;
}

.ant-modal-content {
    background-color: #FEF9E6;
}

.ant-modal-header {
    padding: 13px 16px;
    background: #FEF9E6;
    border-bottom: 1px solid #FEF9E6;
}

.ant-modal-header .ant-modal-title {
    font-size: 18px;
}

.ant-modal-body {
    padding: 16px;
    font-size: 12px;
}